{% extends 'base.html.twig' %}

{% block body %}
    <h1>KOMENTARŲ REDAGAVIMAS</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Redaguoti" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('_index') }}">Grįžti</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Ištrinti">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
