{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <a class="btn btn-default" href="{{ path('_index') }}#komentarai-lentele"><--Grįžti</a>

    <h1 id="komentaras">JŪSŲ KOMENTARAS</h1>

    {{ form_start(form) }}

    <div class="form-group">
        {{ form_label(form.name, 'Jūsų vardas') }}
        {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
    </div>

    <div  class="form-group">
        {{ form_label(form.text, 'Atsiliepimas') }}
        {{ form_widget(form.text, { 'attr': {'class': 'form-control'} }) }}
    </div>

    {{ form_widget(form) }}
        <button type="submit" class="btn btn-default  col-xs-2 col-xs-offset-5">Patvirtinti</button>
    {{ form_end(form) }}

    <ul>
        <li>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input  class="btn btn-danger col-xs-2 col-xs-offset-5" type="submit"  value="Ištrinti">
            {{ form_end(delete_form) }}
        </li>
    </ul>



{% endblock %}
