{% extends 'base.html.twig' %}
{% block header %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h1>KOMENTARŲ REDAGAVIMAS</h1>

    <h1 id="komentarai-lentele">KOMENTARAI</h1>

    <table>
        <tr id="comments-table-header">
            {# sorting of properties based on query components #}
            <th>{{ knp_pagination_sortable(pagination, 'Vardas', 'a.name') }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Komentaras', []) }}</th>
            <th>{{ knp_pagination_sortable(pagination, 'Veiksmai', []) }}</th>
        </tr>

        {# table body #}
        {% for article in pagination %}
            <tr id="comments-table-content" {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ article.name }}</td>
                <td>{{ article.text }}</td>
                <td>
                    <ul>
                        {#<li>#}
                        {#<a href="{{ path('_show', { 'id': comment.id }) }}">show</a>#}
                        {#</li>#}
                        <li>
                            <a href="{{ path('_edit', { 'id': article.id }) }}">Redaguoti</a>
                        </li>
                    </ul>
                </td>
                {#<td>{{ article.date | date('Y-m-d') }}, {{ article.time | date('H:i:s') }}</td>#}
            </tr>
        {% endfor %}
    </table>





    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Redaguoti" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('_index') }}">Grįžti</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Ištrinti">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
